
.mainHome {
    overflow-y:auto;
    width: 50%;
    margin: auto;
    padding: 200px;
    text-align: center;
    font-family: 'open-sans';
}



.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: none;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  .flip-card button {
      margin: auto;
      margin-top: 30px;
      cursor: pointer;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: rgb(8, 0, 0);
    color: black;
    border-radius: 8px;
  }
  
  
  /* Style the back side */
  .flip-card-back {
    background-color: #FF013C;
    color: white;
    border-radius: 8px;
    text-align: center;
    transform: rotateY(180deg);
  }

.playButton {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.playButton:focus {
  text-decoration: none;
}

.playButton:hover {
  text-decoration: none;
}

.playButton:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.playButton:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .playButton {
    padding: 12px 50px;
  }
}

.gameArea {
  position: fixed;
  top: 50%;
  left: 50%;
  
  width: 100%;
  height: 80%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.mainHome {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translateX(-50%) translateY(calc(-50% - .5px));
}

.pokeHelperButton{
  cursor:pointer;
  position: relative;
  top:120px;
}

.mainHome input {
  position: relative;
  top:120px;
}

.flip-card {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.card img {
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 8px;
  object-fit: cover;
}

.startGame {
  margin:auto;
  overflow-y:auto;
  font-family: 'open-sans';
  left:540px;
  margin-top: 0;
  top: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
  position: fixed;
  top: 10%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.startGame button {
  cursor: pointer;
  font-family: 'open-sans';
  position: relative;
  left:80px;
  background-color: #FF013C;

}

.startGame button:hover {
  background-color: #bf18f1;
}

.equalButton button {
  position: relative;
  font-family: 'open-sans';
  cursor: pointer;
  top:30vw;
  left: 46.5vw;
  height:50px;
  width:100px;
  background-color: #FF013C;
}

.equalButton button:hover{
  background-color: #bf18f1;
}

.pokeCard1 {
  position: relative;
  left: 15vw;
}

.pokeCard2 {
  position: relative;
  left: 15vw;
}

.gameArea .card {
  height: 300px;
}

.pokeCard1:active {
  
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.pokeCard2:active {
  
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
